/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navigation */
.navbar {
  color: #ffffff;
  padding: 1rem;
  background-color: #cacaca;
  display: flex;
  justify-content: space-around;
  height: 3rem;
  align-items: center;
}

.navbar a {
  background-color: #56554c;
  text-decoration: none;
  color: inherit;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.navbar a:hover,
.navbar a:focus-visible {
  background-color: #3a3933;
  text-decoration: underline;
  outline: 2px solid slategray;
  cursor: cell;
}

/* Cards and parent */
.card-row {
  display: flex;
  justify-content: space-evenly;
  height: 10rem;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem;
  border: 5px solid;
}

.card {
  background-color: #dbe2e2;
  flex: 1 1 200px;
  border: 1px solid #f20000;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .navbar a {
    padding: 0.5rem 0.5rem;
  }

  .card-row {
    flex-wrap: wrap;
    height: auto;
  }
}
